.site-brand .navbar-header {
    text-align:center;
    float:none;
}

.site-brand {
  text-align: center;
  padding: 2em 0em 0em 0em;
}
.navbar-brand{
    float:none;

}
.site-container{
    margin-left:200px;
    padding: 2em 0em  ;
}

.site-container a{
  color: #fefefe;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;

}

header{
  background: black;
}

header h1 a{
  color: #fefefe;
}
